[Unit]
Description=Information Services Monitoring Router 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/soft/warehouse-apps-1.0/Manage-Monitoring/PROD/sbin/route_monitoring.sysconfig
ExecStart=/soft/warehouse-apps-1.0/Manage-Monitoring/PROD/sbin/route_monitoring.service.sh start
User=software
Group=admin
Restart=always

[Install]
WantedBy=multi-user.target
